<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hora Pico de cada Categoria</title>
    <link rel="stylesheet" href="/assets/dashboard.css">

    <style>
        .solicitud-botones form {
            display: inline-block;
        }
    </style>
</head>
<body class="dashboard-body">

<div class="dashboard-container">
    {{> templates/dashboard/_sidebar}}

    <main class="main-content">
        <header class="main-header">
            <h1>Hora Pico de cada Categoria</h1>
        </header>

        <section class="solicitudes-lista">

            <h2>Horas Pico de Hechos</h2>
            <table class="tabla">
            <thead><tr><th>Fecha</th><th>Categoria</th><th>Horario Pico</th></tr></thead>
            <tbody>
            {{#each hola}}
                        <tr>
                            <td>fecha</td>
                            <td>categoria</td>
                            <td>horaPico</td>
                        </tr>
            {{/each}}
            </tbody>
            </table>

        </section>
    </main>
</div>
</body>
</html>